body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 5%;
  margin: 100px auto;
}

h1 {
  font-size: 562.5%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: 2;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color:#EAF6F6;
}
p {
  line-height: 2;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  margin: 100px 0;

}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.seth{
  width: 200px;
  border-radius: 50%;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.cert{
  width: 20%;
}
.center-cert{
  text-align: center;
}
.skill-row2 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: right;
}
.pro {
  text-decoration: underline;
}

.intro{
  width: 30%;
  margin: auto;
}
.computer {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.code {
  width: 15%;
  height: 25%;
  float: right;
  margin-left: 30px;
}

.projects{
  padding-top: 100px;
  text-align: center;
}

.cli-resume{
  border-radius: 25px;
  width: 70%;
}

.btn {
	background-color:#66BFBF;
	-webkit-border-top-left-radius:28px;
	-moz-border-radius-topleft:28px;
	border-top-left-radius:28px;
	-webkit-border-top-right-radius:28px;
	-moz-border-radius-topright:28px;
	border-top-right-radius:28px;
	-webkit-border-bottom-right-radius:28px;
	-moz-border-radius-bottomright:28px;
	border-bottom-right-radius:28px;
	-webkit-border-bottom-left-radius:28px;
	-moz-border-radius-bottomleft:28px;
	border-bottom-left-radius:28px;
text-indent:0;
	border:1px solid #66BFBF;
	display:inline-block;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
  margin-bottom: 10px;
}

.btn:hover{
  background-color: #30e3cb
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px auto;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
